body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-size: large;
}
#header {
    display: flex;
    height: 60px;
    background-color: seagreen;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
#main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100vh;
}
#left{
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;
    width: 20vh;
    flex-grow: 1;
    padding: 15px;
    gap: 15px;
}
#left>button {
    background-color: darkseagreen;
    border: none;
    font-size: large;
    height: 45px;
    border-radius: 4px;
    /* width: fit-content; */
}
#projectList {
    display: flex;
    flex-direction: column;
}
#projectList>button {
    background-color: darkseagreen;
    border: none;
    font-size: large;
    height: 45px;
    border-radius: 4px;
    /* width: fit-content; */
}
#left>button:hover,
#projectList>button:hover {
    background-color: seagreen;
}
#listBox {
    background-color: rgb(211, 211, 211);
    width: 100vh;
    flex-grow: 1;
}
.inactive {
    visibility: hidden;
}
.active {
    visibility: visible;
}